@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mx-auto py-3 mt-2
  bg-gray-400
  text-white hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg ;
  }
  .sidebar-group{
    @apply relative flex items-center justify-center 
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 ml-3 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-profile{
    @apply absolute left-14 top-[0] w-auto min-w-max pl-3 
    bg-gray-700 text-white font-semibold rounded-md
    transition-all duration-300 scale-0
  }
  .sidebar-hr {
    @apply bg-gray-25 border border-gray-25 rounded-full
    mx-4;
  }

  .channelbar{
    @apply w-60 flex-none h-screen m-0 ml-16 bg-gray-600 overflow-hidden
  }
  
  .channel{
    @apply flex flex-row px-3 py-1 mx-1 hover:bg-gray-100 hover:rounded-md hover:text-white text-gray-150 cursor-pointer
  }

  .message-container{
    @apply flex flex-row flex-none text-white font-semibold
   hover:bg-gray-600 bg-gray-25 pl-5 mt-2
  }

  .content-input{
    @apply flex flex-none bottom-0
    ml-5 mb-4 py-2 pl-7 w-[96%]
    items-center
    font-semibold outline-none  text-white
    rounded-md bg-gray-50
    placeholder-gray-500
  }

}
  @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      background:'#202225';
      border-radius: 10px;
      scroll-padding-right: 20px;
    }
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #202225;
      border-radius: 100vh;
      border: 0px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #202225;
    }

    .scrollbar::-webkit-scrollbar-track {
      background: #2c3038; 
      border-radius: 10px;
    }
  
body {
  background-color: #36393F;
}