@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-3 mb-2 mx-auto py-3
  bg-gray-400 dark:bg-gray-800 
  text-green-500 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg ;
  }
  .sidebar-group{
    @apply relative flex items-center justify-center 
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }

  .channelbar{
    @apply w-60 flex-none h-screen m-0 ml-16 bg-gray-600 overflow-hidden
  }

  .server-info-bar{
    @apply flex-grow bg-gray-600 text-white font-semibold
  }
  
  .channel{
    @apply flex flex-row px-3 py-1 mx-1 hover:bg-gray-100 hover:rounded-md hover:text-white text-gray-150 cursor-pointer
  }

  .content-container{
    @apply relative
    h-screen w-2/3 min-w-[720px]
  }

  .message-container{
    @apply flex flex-row rounded-md text-white font-semibold
   bg-gray-600
    mt-2 ml-10
  }

  .content-input{
    @apply flex absolute bottom-0
    ml-10 mb-4 pt-2 pb-2 pl-7 w-[93%]
    items-center
    font-semibold outline-none  text-white
    rounded-md bg-gray-50
    placeholder-gray-500
  }

}
  @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 5px;
      background:'#202225',
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #202225;
      border-radius: 100vh;
      border: 0px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #202225;
    }
  }
body {
  background-color: #36393F;
}